/*style.css*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  background-color: var(--current-background);
  color: var(--current-foreground);
}
.color1 {
  color: #131617;
}
.color2 {
  color: #34393c;
}
.color3 {
  color: #5e676b;
}
.color4 {
  color: #929fa4;
}
.color5 {
  color: #d0e3e9;
}
:root {
  /* Dark theme */
  --dark-background: #34393c;
  --dark-dark-accent: #131617;
  --dark-neutral: #5e676b;
  --dark-light-accent: #929fa4;
  --dark-foregeound: #d0e3e9;
  /* Light theme */
  --light-background: #d0e3e9;
  --light-dark-accent: #131617;
  --light-foregeound: #34393c;
  --light-neutral: #5e676b;
  --light-light-accent: #929fa4;
  /* Defaults */
  --current-background: var(--light-background);
  --current-dark-accent: var(--light-dark-accent);
  --current-light-accent: var(--light-light-accent);
  --current-foreground: var(--light-foregeound);
  --current-neutral: var(--light-neutral);
}
@media (prefers-color-scheme: dark) {
  :root {
    --current-background: var(--dark-background);
    --current-foreground: var(--dark-foregeound);
    --current-dark-accent: var(--dark-dark-accent);
    --current-light-accent: var(--dark-light-accent);
    --current-neutral: var(--dark-neutral);
  }
}

score-div {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100px;
  height: 25px;
  color: var(--current-foreground);
  text-align: center;
  line-height: 50px;
}

money-div {
  position: fixed;
  top: 40px;
  left: 0;
  display: block;
  width: 100px;
  height: 25px;
  color: var(--current-foreground);
  text-align: center;
  line-height: 50px;
}

wave-timer {
  position: fixed;
  top: 80px;
  left: 0;
  display: block;
  width: 100px;
  height: 25px;
  color: var(--current-foreground);
  text-align: center;
  line-height: 50px;
}

preWave-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-color: transparent;
  color: var(--current-foreground);
  text-align: center;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border: 3px solid var(--current-foreground);
  border-radius: 10px;
  padding: 10px;
  z-index: 100;
}

wave-banner {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  background-color: var(--current-dark-accent);
  color: var(--current-foreground);
  text-align: center;
  line-height: 50px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

wave-banner.pui-adding,
wave-banner.pui-removing {
  opacity: 0;
}

wavecomplete-banner {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
  background-color: var(--current-dark-accent);
  color: var(--current-foreground);
  text-align: center;
  line-height: 50px;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}

wavecomplete-banner.pui-adding,
wavecomplete-banner.pui-removing {
  opacity: 0;
}
